<div class="vertical-container" style="align-items: center; height: 100%;">
	<div class="usuarios">
	<div class="tool-tab">
		<mat-form-field appearance="outline" class="search-bar">
			<input matInput placeholder="Type to search..." [(ngModel)]="searchText" (change)="onSearch()" />
			<button mat-icon-button matSuffix (click)="onSearch()">
				<mat-icon>search</mat-icon>
			</button>
		</mat-form-field>
		<p class="author-toggle">
			<mat-slide-toggle [(ngModel)]="searchAuthor" (click)="onSearch()">
				Authors
			</mat-slide-toggle></p>
	</div>
	@if (loading) {
		<mat-spinner></mat-spinner>
	} @else {
		<h2 *ngIf="filtered">Filtered by {{searchAuthor? 'authors' : 'users'}}</h2>
		<h2 *ngIf="!filtered">All users/authors</h2>
		@for (usuario of usuarios; track usuario.id) {
			<app-usuario [usuario]="usuario"></app-usuario>
		}
		@if (usuarios.length === 0) {
			<h2>No users found 😭</h2>
		}
	}
</div>
</div>
