.search-bar {
	display: flex;
	margin: 0;
	width: 80%;
}

.tool-tab {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 1em;
}

.author-toggle {
  	padding-left: 1em;
  	height: 100%;
}

.usuarios {
	width: fit-content;
	align-items: center;
	min-width: 70vw;
}

h2 {
	margin-top: 0;
}
