.post-container {
    height: fit-content; 
    width: 70vw;
    border: solid 1px black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: .5em;
}

.container-foto {
    width: 10vh;
    height: 10vh;
    margin-right: 1em;
}

.contenido {
    margin-left: 2em;
}

.star-rating {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.star-rating i {
    font-size: 24px;
    user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

.book-img {
    height: 100%;
    object-fit: scale-down;
}

img {
    cursor: pointer;
}