<div *ngIf="post && post.post" class="horizontal-container post-container">

	<div class="vertical-container contenido">

		<div class="horizontal-container"  style="align-items: center; margin-bottom: 0.5em;">
			<div class="img-container-perfil container-foto">
				<img [src]="urlFotoPerfil" (error)="urlFotoPerfil = defaultImage" alt="Profile picture" class="imagen-perfil" (click)="goToUser()">
			</div>
			<div *ngIf="post.type == 'rating'" class="horizontal-container">

				<h2>{{post.post.username}} rated a book</h2>
				<div class="star-rating">
					<i *ngFor="let star of [].constructor(5); let i = index"
					   class="material-icons"
					   [ngClass]="{'star-filled': i < post.post.rating, 'star-empty': i >= post.post.rating}">
					   star
					</i>
				</div>
			</div>


			<div *ngIf="post.type == 'post'" class="horizontal-container">
				<h2>{{post.post.username}} published a book</h2>
			</div>
		</div>
		<div class="horizontal-container" style="column-gap: 1em;">
			<div style="height: 25vh" (click)="verLibro()">
				<img class="book-img" src="http://localhost:8080/books/{{post.post.book_id}}/picture" alt="Book cover" class="book-img">
			</div>
			<div>
				<h2>{{post.post.book_title}}</h2>
				<h3 style="color: #666;">by {{post.post.book_author}}</h3>
				<p style="color: #333;">
					{{post.post.book_description}}
				</p>
			</div>
		</div>
		
	</div>
	
</div>
