<div class="books">
	<div style="width: fit-content;">
	<div class="tool-tab">
		<mat-form-field appearance="outline" class="search-bar">
			<input matInput placeholder="Type to search..." [(ngModel)]="searchText" (change)="onSearch()" />
			<button mat-icon-button matSuffix (click)="onSearch()">
				<mat-icon>search</mat-icon>
			</button>
		</mat-form-field>
		<mat-form-field appearance="outline" class="filter-select">
			<mat-label>Filter by Genre</mat-label>
			<mat-select multiple [(ngModel)]="selectedGenres" (selectionChange)="filterBooks()">
				<mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	@if (loading) {
	<mat-spinner></mat-spinner>
	} @else {

	@if (filteredBooks.length === 0) {
	<h2>No books found 😭</h2>
	}
	@for (book of filteredBooks; track book.id) {
	<app-libro [book]="book"></app-libro>
	}
	}</div>
</div>
