<div class="main">

	@if (comunidades.length > 0) {
		<h1>Communities</h1>
		<div class="container1">
		@for (comunidad of comunidades; track comunidad.id) {
			<div>
				<h1>{{comunidad.name}}</h1>
				<p>{{comunidad.description}}</p>
				<div class="aceptarBotones">
					@if (comunidad.joined) {
						<button (click)="joinCommunity(comunidad.id)" class="secondary-button">Joined</button>
					} @else {
						<button (click)="joinCommunity(comunidad.id)" class="primary-button">Join</button>
					}
					<!-- <button (click)="rejectFriendRequest(usuario.id)" class="warning-button">Reject</button> -->
				</div>
			</div>
		}
		</div>
		<hr />
	}

	@if (comunidades.length === 0) {
		<h2>No communities received or pending found 😭😭😭</h2>
	}
</div>
