.perfil {
    height: 30vh; 
    width: 30vh;
    padding-top: 1.5em;
}

.contenido {
    width: fit-content;
    padding-left: 2em;
}

.datos {
    align-items: center;
    column-gap: 2em;
}

h3, p {
    margin: 0.2em;
}

.friends {
    align-items: center;
    column-gap: 2em;
    padding-bottom: 1em;
}

.icono-autor {
    align-self: center;
    padding-left: 0.25em;
}

h1 {
    margin:0;
}

.titulo {
    border-bottom: solid 1px black;
    margin-bottom: 0.5em;
}