<div class="horizontal-container" style="padding-left: 1em; width: 100%;">
	<div class="vertical-container img-container-perfil perfil">
		<img [src]="urlFoto" alt="Profile picture" class="imagen-perfil">
	</div>
	<div class="vertical-container contenido">
		<h1 style="border-bottom: solid 1px black">{{usuario.username}}</h1>
		<button mat-flat-button>Follow</button>
		<div class="horizontal-container datos">
			<h3>Details</h3>
			<p>Age {{usuario.age}}, {{usuario.location}}</p>
		</div>
		<div class="horizontal-container datos">
			<h3>Gender</h3>
			<p>{{usuario.gender}}</p>
		</div>
		<h3>About me:</h3>
		<p>{{usuario.about_me}}</p>
	</div>
</div>