<div class="horizontal-container" style="padding-left: 1em; width: 100%;">
	<div class="vertical-container img-container-perfil perfil">
		<img [src]="urlFoto" alt="Profile picture" class="imagen-perfil">
	</div>
	<div class="vertical-container contenido">
		<div class="horizontal-container titulo">
			<h1>{{usuario.username}}</h1>
			<mat-icon *ngIf="usuario.is_author" aria-hidden="false" aria-label="Is author" fontIcon="draw" class="icono-autor"></mat-icon>
		</div>
		
		<div class="horizontal-container friends">
			<button mat-flat-button style="width: 50%;">Follow</button>
			<p>23 Friends</p>
		</div>
		
		<div class="horizontal-container datos">
			<h3>Details</h3>
			<p>Age {{usuario.age}}, {{usuario.location}}</p>
		</div>
		<div class="horizontal-container datos">
			<h3>Gender</h3>
			<p>{{usuario.gender}}</p>
		</div>
		<h3>About me:</h3>
		<p>{{usuario.about_me}}</p>
		<h2>Reviews</h2>
	</div>

</div>