<div class="vertical-container container">
	<div class="vertical-container">
		<h2 style="align-self: center">Publish a Book on BetterReads</h2>
		<p>Fill in the book details to publish it</p>

		<div style="row-gap: 0.25em" class="vertical-container">
			<mat-form-field>
				<mat-label>Title</mat-label>
				<input required matInput maxlength=255 [(ngModel)]="libro.title" placeholder="Harry Potter and the Chamber of Secrets" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Description</mat-label>
				<textarea matInput maxlength=255 [(ngModel)]="libro.description"
					placeholder="The story of the princess..."></textarea>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Number of pages</mat-label>
				<input required type="number" matInput [(ngModel)]="libro.amount_of_pages" min="1" placeholder="346" />
			</mat-form-field>

			<mat-form-field>
			  <mat-label>Publication date</mat-label>
			  <input matInput [matDatepicker]="picker" [max]="maxDate" [(ngModel)]="libro.publication_date">
			  <mat-hint>MM/DD/YYYY</mat-hint>
			  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			  <mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Language</mat-label>
				<input matInput maxlength=255 [(ngModel)]="libro.language" placeholder="Spanish" />
			</mat-form-field>

			<mat-form-field appearance="fill">
			  <mat-label>Genres</mat-label>
			  <mat-select [(ngModel)]="libro.genres" multiple>
				<mat-option *ngFor="let genre of genresList" [value]="genre">
				  {{ genre }}
				</mat-option>
			  </mat-select>
			</mat-form-field>

			<input type="file" (change)="onFileSelected($event)" />

			@if (error) {
			<p style="color: red">{{ error }}</p>
			}

			<button mat-flat-button (click)="publicarLibro()">
				Publish book
			</button>
		</div>
	</div>
</div>
