<div class="vertical-container container">
	<div class="vertical-container publicacionLibro">
		<h2 style="align-self: center">Publicar un Libro en BetterReads</h2>
		<p>Complete los datos del libro para publicarlo</p>

		<div style="row-gap: 0.75em" class="vertical-container">
			<mat-form-field>
				<mat-label>Título</mat-label>
				<input required matInput [(ngModel)]="libro.title" placeholder="Harry Potter y la cámara secreta" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Autor</mat-label>
				<input required matInput [(ngModel)]="libro.author" placeholder="J.K. Rowling" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Descripción</mat-label>
				<textarea matInput [(ngModel)]="libro.description"
					placeholder="La historia de la princesa..."></textarea>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Número de páginas</mat-label>
				<input required type="number" matInput [(ngModel)]="libro.amount_of_pages" min="1" placeholder="346" />
			</mat-form-field>

			<mat-form-field>
			  <mat-label>Fecha de publicacion</mat-label>
			  <input matInput [matDatepicker]="picker" [(ngModel)]="libro.publication_date">
			  <mat-hint>MM/DD/YYYY</mat-hint>
			  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			  <mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Idioma</mat-label>
				<input matInput [(ngModel)]="libro.language" placeholder="Español" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Géneros</mat-label>
				<input required matInput [(ngModel)]="genresString" placeholder="Ciencia Ficción, Aventura" />
			</mat-form-field>

			<input type="file" (change)="onFileSelected($event)" />

			@if (error) {
			<p style="color: red">{{ error }}</p>
			}

			<button mat-flat-button (click)="publicarLibro()">
				Publicar Libro
			</button>
		</div>
	</div>
</div>
