<div class="horizontal-container book-container" (click)="verLibro()">
	<div style="width:30%; position: relative">
		<img class="book-img" src="http://localhost:8080/books/{{book.id}}/picture" alt="Book cover" class="book-img">
	</div>

	<div class="vertical-container" style="width:70%">
		<span>
		<h2>{{book.title}}</h2>
		<h3 style="color: #666;">by {{book.author_name}}</h3>
		<p style="color: #333;">
			{{book.description}}
		</p>
		</span>


		<span class="end-container">
			<div class="rate-container">
				<span>Rate</span>
				<p>{{book.avg_rating | number : '1.1'}}</p>
				<div class="star-rating">
					<i *ngFor="let star of [].constructor(5); let i = index"
					   (click)="puntuar(i + 1)"
					   class="material-icons"
					   [ngClass]="{'star-filled': i < book.avg_rating, 'star-empty': i >= book.avg_rating}">
					   star
					</i>
				</div>
				<span>({{book.total_ratings}})</span>
			</div>
		</span>
	</div>
</div>
