.book-container {
    height: 30vh; 
    width: 70vw;
    border: solid 1px black;
    padding: 1em;
    border-radius: 10px;
}

.book-img {
    border-radius: 4px;
    height: 100%;
    width: fit-content;
}

.vertical-container h2, h3, p {
    margin: 0.25em;
}


.action-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rate-label {
    font-size: 16px;
    margin-right: 8px;
}

.star-rating {
    display: flex;
}

.star-rating i {
    font-size: 24px;
    cursor: pointer;
	user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

.star-empty:hover {
	color: #FFD700;
}

.star-filled:hover {
	color: #ddd;
}
