.book-container {
    height: 30vh; 
    width: 70vw;
    border: solid 1px black;
    padding: 1em;
    border-radius: 10px;
	max-width: 50rem;
	cursor: pointer;
	gap: 1em;
}

.rate-container {
	display: flex;
	align-items: center;
}

.end-container {
	display: flex;
	flex-direction: column;
	gap: .5em;
	justify-content: space-between;
}

.book-img {
    border-radius: 4px;
    height: 100%;
	width: 100%;
	object-fit: scale-down;
	max-width: 250px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.vertical-container h2, h3, p {
    margin: 0.25em;
}

.vertical-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.action-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rate-label {
    font-size: 16px;
    margin-right: 8px;
}

.star-rating {
    display: flex;
}

.star-rating i {
    font-size: 24px;
    cursor: pointer;
	user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

.star-empty:hover {
	color: #FFD700;
}

.star-filled:hover {
	color: #ddd;
}
