<div class="book-container">
<div class="book-img-container">
	<img src="{{book.image}}" alt="Book cover" class="book-img">
</div>

<div class="book-details">
	<h2 class="book-title">{{book.title}}</h2>
	<h3 class="book-author">by {{book.author}}</h3>
	<p class="book-synopsis">
		{{book.description}}
	</p>
	
	<div class="action-buttons">
		<button class="want-to-read-btn">Want to Read</button>
		<span class="rate-label">Rate it:</span>
		<div class="star-rating">
			<i *ngFor="let star of [].constructor(5); let i = index"
			   (click)="puntuar(i + 1)"
			   class="material-icons"
			   [ngClass]="{'star-filled': i < book.stars, 'star-empty': i >= book.stars}">
			   star
			</i>
		</div>
	</div>
</div>
</div>
