<div class="main">
	<div>
	@if (loading) {
		<mat-spinner></mat-spinner>
	} @else {
		@if (comunidades.length > 0) {
			<h1>Communities</h1>
			<div style="width: 100%;">
				<mat-form-field appearance="outline" class="search-bar">
					<input matInput placeholder="Search by name..." [(ngModel)]="searchText" (change)="onSearch()" />
					<button mat-icon-button matSuffix (click)="onSearch()">
						<mat-icon>search</mat-icon>
					</button>
				</mat-form-field>
			</div>
			<div class="container1">
			@for (comunidad of comunidades; track comunidad.id) {
				<div class="comunidad">
					<div class="comunidadLink" (click)="goToCommunity(comunidad.id)">
						<img class="communityImage" src="http://localhost:8080/communities/{{comunidad.id}}/picture" />
						<div class="comunidad-container-1">
							<h2>{{comunidad.name}}</h2>
							<p>{{comunidad.description}}</p>
						</div>
					</div>
					<div class="aceptarBotones">
						@if (comunidad.joined) {
							<button (click)="joinCommunity(comunidad.id)" class="secondary-button button">Joined</button>
						} @else {
							<button (click)="joinCommunity(comunidad.id)" class="primary-button button">Join</button>
						}
					</div>
				</div>
			}
			</div>
		}

		@if (comunidades.length === 0) {
			<h2>No communities found 😭</h2>
		}
	}
	</div>

	<div style="row-gap: 0.25em" class="vertical-container">
		<h2 style="align-self: center">Create a Community</h2>
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input matInput maxlength=255 [(ngModel)]="comunidadAPublicar.name" placeholder="Harry Potter and the Chamber of Secrets" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Description</mat-label>
			<textarea matInput maxlength=255 [(ngModel)]="comunidadAPublicar.description"
				placeholder="The story of the princess..."></textarea>
		</mat-form-field>

		<input type="file" (change)="onFileSelected($event)" />

		@if (error) {
		<p style="color: red">{{ error }}</p>
		}

		<button mat-flat-button class="button" (click)="createCommunity()">
			Create
		</button>
	</div>
</div>
