@if (showSidenav) {
  <mat-toolbar class="celeste" style="justify-content: space-between;">
    <div class="horizontal-container" style="align-items: center;">
    <button mat-icon-button aria-label="menu icon">
      <mat-icon (click)="menu.toggle()">menu</mat-icon>
    </button>
    <span>BetterReads</span>
  </div>
  <div class="horizontal-container zona-usuario" (click)="linkZonaUsuario()">
    <div class="img-container-perfil photo">
      <img [src]="urlFotoPerfil" (error)="urlFotoPerfil = defaultImage" alt="Profile picture" class="imagen-perfil">
    </div>
    
    <p style="font-size: large">{{usuarioActual}}</p>
  </div>
  
</mat-toolbar>

<mat-sidenav-container style="min-height: 100%">
  <mat-sidenav #menu mode="side" class="menu celeste">
    <mat-nav-list>
      <a mat-list-item>
          <span routerLink="/home">Home</span>
      </a>
      <a mat-list-item routerLink="/post-book"> Post a book </a>
      <a mat-list-item>
          <span>Books</span>
      </a>
      <a mat-list-item>
          <span routerLink="/users">Users</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding-top: 0.5em; min-height: 100%; overflow: scroll;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
} @else {
  <router-outlet></router-outlet>
}
