.menu {
	max-width: 15vw;
	border-radius: 0px;
}

.celeste {
	background-color: rgba(0, 92, 187, 0.25);
}

.photo {
	height: 2em;
	width: 2em;
	margin-right: 0.25em;
}

.zona-usuario {
	align-items: center;
}

.zona-usuario:hover {
	cursor: pointer;
}
