.main {
	display: flex;
	align-items: center;
	gap: 1em;
}

.star-rating {
    display: flex;
}

.star-rating i {
    font-size: 24px;
	user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}
