.main {
	display: flex;
	flex-direction: column;
	background-color: #ffff;
	border-radius: 10px;
	padding: 1em;
	max-width: 25rem;
}

.star-rating {
    display: flex;
}

.star-rating i {
    font-size: 24px;
	user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

img {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	border: 2px solid #ddd;
}

.container1 {
	display: flex;
	align-items: center;
	gap: 1em;
}

p{
	font-size: 1.2em;
}
