
<div class="vertical-container" style="align-items: center; height: 100%;">
<div class="main">
	<h2 *ngIf="this.userId !== usuarioActualService.getId()" style="margin: 0">Bookshelf of {{username$ | async}}</h2>
	<div class="tool-tab">
		<mat-form-field>
			<mat-label>Filter by Genre</mat-label>
			<mat-select [(ngModel)]="selectedGenre" (selectionChange)="onSearch()">
				<mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
			</mat-select>
		</mat-form-field>
		
		<mat-button-toggle-group [hideSingleSelectionIndicator]="true" name="status" aria-label="Book status" [value]="selectedState" style="height: fit-content;">
		  <mat-button-toggle [value]="statusValues[i]" *ngFor="let state of states; let i = index" (click)="selectState(statusValues[i])" [ngClass]="{'selected': state == selectedState, 'not-selected': selectedState}" >{{state}}</mat-button-toggle>
		</mat-button-toggle-group>
		<mat-form-field>
			<mat-label>Order by property</mat-label>
			<mat-select [(ngModel)]="selectedOrderProp" (selectionChange)="onSearch()">
				<mat-option *ngFor="let prop of sortProperties" [value]="prop">{{ prop }}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-icon-button (click)="toggleSort()">
			<mat-icon>{{order==='desc' ? 'south': 'north'}}</mat-icon>
		</button>
	</div>

	@if (loading) {
		<mat-spinner></mat-spinner>
	} @else {
		@if (books.length === 0) {
		<h2>No books found 😭</h2>
		}
		@for (book of books; track book.id) {
		<app-libro [book]="book" [showDeleteButton]="true" (delete)="deleteFromShelf(book.id)"></app-libro>
		}
	}
</div>
</div>