
<div class="main">
	<mat-button-toggle-group [hideSingleSelectionIndicator]="true" name="status" aria-label="Book status">
	  <mat-button-toggle *ngFor="let state of states" (click)="selectState(state)" [ngClass]="{'selected': state == selectedState, 'not-selected': selectedState}" >{{state}}</mat-button-toggle>
	</mat-button-toggle-group>


	@if (loading) {
		<mat-spinner></mat-spinner>
	} @else {
		@if (books.length === 0) {
		<h2>No books found 😭</h2>
		}
		@for (book of books; track book.id) {
			<app-libro [book]="book"></app-libro>
		}
	}
</div>
