<div class="main">
  <div class="community-header">
    <img
      class="banner"
      src="https://styles.redditmedia.com/t5_2sb6w/styles/bannerBackgroundImage_03t9jrcbwrbb1.png?width=2176&frame=1&auto=webp&s=1cd5e68852da6070ab6a7ef48ae29db5550cd7f8"
    />
    <div class="profile-picture-container">
      <img class="profile-picture" src="{{comunidad.image}}" />
    </div>
  </div>
  <div class="community-info">
	<div class="info">
	<h1>{{comunidad.name}}</h1>
	<p>{{comunidad.description}}</p>
	</div>

	@if (comunidad.joined) {
		@if (isOwner) {
		<button (click)="deleteCommunity()" class="secondary-button">Delete</button>
		} @else {
		<button (click)="leaveCommunity(comunidad.id)" class="secondary-button">Leave</button>
		}
	} @else {
		<button (click)="joinCommunity(comunidad.id)" class="primary-button">Join</button>
	}
  </div>

  <div class="posts"> 
	<div class="container-posts">
		<h1>Posts</h1>
		<button *ngIf="comunidad.joined" class="post-button" (click)="openDialog()">+</button>
	</div>

	@for (post of postsComunidad; track post.id) {
		<div class="post">
			<div class="user-info">
				<img src="http://localhost:8080/users/{{post.user_id}}/picture"/>
				<h1>{{post.username}}</h1>	
				<p>{{post.date}}</p>
			</div>
			<h1>{{post.title}}</h1>
			<p>{{post.content}}</p>
		</div>
	}

  </div>
</div>


<style>

.post {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	padding: 1em 0em 1em 1em;
	margin-bottom: 1em;
}

.post > p {
	font-size: 1.5em;
}

.user-info > img {
	width: 5em;
	height: 5em;
	border-radius: 50%;
}

.user-info {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.container-posts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.posts {
  margin-top: 2em;
  width: 90%;
  max-width: 800px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.community-header {
  position: relative;
  width: 100%;
  height: 200px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-container {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
}

.profile-picture {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border: 0.5em solid white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.community-info {
  text-align: center;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.community-info h1 {
  font-size: 3em;
  margin: 0;
}

.community-info p {
  font-size: 2em;
  color: #666;
  margin: 0;
}


button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: 2em;
}

.primary-button {
  background-color: #4CAF50;
}

.post-button {
  background-color: #2196F3;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 2em;
}

.post-button:hover {
  background-color: #3dfbf2;
}

.primary-button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.secondary-button {
  background-color: #f44336;
}
</style>
