<div class="vertical-container container">
  <div class="inicioSesion">
    <h2>Welcome to BetterReads!</h2>
    <p>Fill in your details to create an account</p>
    <mat-stepper [linear]="true" labelPosition="bottom" #stepper>
      <mat-step [stepControl]="datosIniciales">
        <form class="vertical-container" [formGroup]="datosIniciales">
          <div
            style="row-gap: 0.75em; padding-top: 0.5em"
            class="vertical-container"
          >
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input
                matInput
                formControlName="usuario"
                placeholder="Username"
              />
              <mat-error
                *ngIf="datosIniciales.get('usuario')?.hasError('required')"
                >The username is required</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="user@example.com"
              />
              <mat-error
                *ngIf="
                  datosIniciales.get('email')?.hasError('email') &&
                  !datosIniciales.get('email')?.hasError('required')
                "
                >Invalid email</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
                #password
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error
                *ngIf="
                  datosIniciales.get('password')?.hasError('minlength') &&
                  !datosIniciales.get('password')?.hasError('required')
                "
                >Must be at least 8 characters</mat-error
              >
              <mat-error
                *ngIf="datosIniciales.get('password')?.hasError('required')"
                >The password is required</mat-error
              >
            </mat-form-field>

            <div class="botones">
              <button mat-flat-button matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="infoPersonal">
        <form class="vertical-container" [formGroup]="infoPersonal">
          <div
            style="row-gap: 0.75em; padding-top: 0.5em"
            class="vertical-container"
          >
            <div style="column-gap: 2em" class="horizontal-container">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="nombre" placeholder="Name" />
                <mat-error
                  *ngIf="infoPersonal.get('nombre')?.hasError('required')"
                  >The name is required</mat-error
                >
              </mat-form-field>
              <mat-form-field>
                <mat-label>Surname</mat-label>
                <input
                  matInput
                  formControlName="apellido"
                  placeholder="Surname"
                />
                <mat-error
                  *ngIf="infoPersonal.get('apellido')?.hasError('required')"
                  >The surname is required</mat-error
                >
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="esAutor">I am an author</mat-checkbox>

            <div class="botones">
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-flat-button matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="infoPersonal" optional>
        <form class="vertical-container" [formGroup]="infoOpcional">
          <div style="row-gap: 0.75em; padding-top: 0.5em" class="horizontal-container">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="genero">
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Age</mat-label>
              <input
                matInput
                formControlName="edad"
                placeholder="12"
                type="number"
              />
              <mat-error *ngIf="infoPersonal.get('edad')?.hasError('min')"
                >You have to be at least 12 years old</mat-error
              >
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput formControlName="pais" placeholder="Argentina" />
          </mat-form-field>

          <div class="botones">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-flat-button matStepperNext>Next/Skip</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="aboutMe" optional>
        <form [formGroup]="aboutMe" class="vertical-container">
          <div
            style="row-gap: 0.75em; padding-top: 0.5em"
            class="vertical-container"
          >
            <mat-form-field>
              <mat-label>About Me</mat-label>
              <textarea
                matInput
                formControlName="aboutMe"
                placeholder="Ex. I like to read about..."
              ></textarea>
            </mat-form-field>
            <p>Profile picture:</p>
            <input type="file" (change)="onFileSelected($event)" />

            <div class="botones">
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-flat-button (click)="registrarse()">Register</button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
