.content {
    overflow-x: scroll;
    padding-left: 2em;
}

.imagen {
    height: 70vh; 
    margin-bottom: 2em;
    border-radius: 10px;
}

.star-rating i {
    cursor: pointer;
    user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

.star-empty:hover {
    color: #FFD700;
}

.star-filled:hover {
    color: #ddd;
}

.genero {
    height:2em;
    margin-left: 1em;
}