.book-synopsis {
    font-size: 16px;
    color: #333;
    margin: 16px 0;
}

.star-rating {
    display: flex;
}

.star-rating i {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ddd;
}

.star-empty:hover {
    color: #FFD700;
}

.star-filled:hover {
    color: #ddd;
}
