<div class="vertical-container container">
  <form class="vertical-container inicioSesion" [formGroup]="datosIniciales">
    <h2>Welcome to BetterReads</h2>
    <p>Fill in your details to log in to your account</p>
    <div style="row-gap: 0.75em" class="vertical-container">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="usuario"
          placeholder="Nombre de usuario"
        />
        <mat-error
          *ngIf="datosIniciales.get('usuario')?.hasError('required')"
          >The username is required</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          #password
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            datosIniciales.get('password')?.hasError('minlength') &&
            !datosIniciales.get('password')?.hasError('required')
          "
          >Must be at least 8 characters</mat-error
        >
        <mat-error *ngIf="datosIniciales.get('password')?.hasError('required')"
          >The password is required</mat-error
        >
      </mat-form-field>

      <button type="submit" (click)="submitLogin()" mat-flat-button>
        Log In
      </button>
    </div>
  </form>
</div>
