<div class="vertical-container container">
  <form class="vertical-container inicioSesion" [formGroup]="datosIniciales">
    <h2>Bienvenido a BetterReads</h2>
    <p>Complete sus datos para ingresar a su cuenta</p>
    <div style="row-gap: 0.75em" class="vertical-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="usuario@ejemplo.com"
        />
        <mat-error
          *ngIf="
            datosIniciales.get('email')?.hasError('email') &&
            !datosIniciales.get('email')?.hasError('required')
          "
          >Email inválido</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          #password
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            datosIniciales.get('password')?.hasError('minlength') &&
            !datosIniciales.get('password')?.hasError('required')
          "
          >Debe tener mínimo 8 caracteres</mat-error
        >
        <mat-error *ngIf="datosIniciales.get('password')?.hasError('required')"
          >La contraseña es obligatoria</mat-error
        >
      </mat-form-field>

      <button type="submit" (click)="submitLogin()" mat-flat-button>
        Iniciar Sesión
      </button>
    </div>
  </form>
</div>
